* {
  box-sizing: border-box;
}

body {
    background-image: url('pics/homebkg2.png');   
    background-attachment: fixed;
    background-size: cover ;"
}

#title {
    width: 100% ;
    height: 120px ;
    color:whitesmoke;
    font-family:'Courier New', monospace;
    font-size:50px;"
}

#team {
    width: 100% ;
    height: 150px ;
    color:whitesmoke;
    font-family:helvetica;
    font-size:35px;
}

#desc {
    width: 100% ;
    height: 90px ;
    color:whitesmoke;
    font-family:helvetica;
    font-size:20px;"
}

#title2 {
    width: 100% ;
    height: 90px ;
    color:whitesmoke;
    font-family:helvetica;
    font-size:20px;
}

.links {       
       color:slategray;
       font-family:helvetica;
       font-size:70%;
}


a:link, a:visited {
  background-color: #FFC300;
  color: white;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: #55e9af;
}